.Appmain{
    position: relative;
}

.Appcopy{
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

.appnavbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}