.card_container {
  margin: auto;
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  padding-left: 30px;
  max-width: 1200px;
}

.meet_body {
  background-color: rgb(248, 252, 251);
}

.meeting_select {
  width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
}

.meet_title {
  margin-top: 20px;
  margin-left: 45px;
  color: rgb(67, 44, 122);
}

.mybookback {
  background-color: mybookback;
}

@media only screen and (max-width: 768px) {
  .card_container {
    margin: auto;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 423px) {
  .card_container {
    margin: auto;
    display: grid;

    grid-template-columns: repeat(1, 1fr);
  }
}
