.title_of{
    margin: 0;
    padding: 0;
    text-align: center;
}

.bookback{
    background-image: url("http://petitinvention.files.wordpress.com/2009/07/25601.jpg");
    height: 100vh;
    
    z-index: -1;
}